@model Microsoft.AspNetCore.Identity.IdentityRole

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <h2>Create Role</h2>
            <hr />
             <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <input type="submit" value="Create" class="btn btn-primary" />
            <div asp-validation-summary="ModelOnly" class="text-danger">
                

            </div>
        </form>
    </div>

</div>