<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       data-toggle="dropdown"
       href="#"
       role="button"
       data-bs-toggle="dropdown"
       id="nav-dropdown"
       aria-expanded="false"
       target="_self">
        Dashboard
    </a>
    <ul class="dropdown-menu" aria-labelledby="nav-dropdown">

        <li class="nav-item">
            <a asp-controller="Categories" asp-action="Index" class="nav-link">Categories</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Products" asp-action="Index" class="nav-link">Categories</a>
        </li>


    </ul>
</li>